body, td {
	font-family: georgia, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

.title {
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 14px;
	color: #330000;
	font-weight: 700;
}

.small {
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size:11px;
}

.x {
	text-decoration: line-through;
}

a:link {
	color: #660000;
}

a:active {
	color: #996666;
}

a:visited {
	color: #990000;
}

a:hover {
	color: #330000;
	background-color:#f6e6e6;
}