:root {
  color-scheme: light dark;
}

body {
	color: light-dark(#555, #ccc);
	background-color: light-dark(#fff, #303);
}

body{
/*	background-color:#303; */
/*	background-color:#fff; */
	font:normal 1.1rem verdana,sans-serif;
/*	color:#555; */
/*	color:#fff; */
	line-height:1.5rem;
	margin:0px;
	padding:0px;

}

#thegreatentailer{
	padding-bottom:30px;
	margin:0 auto;
	max-width:900px;
}

.right {
  text-align: right;
}

.glyph {
	color: #99ff99;
	text-align:center;
	font-size: 2rem;
}

.lightgray{color:#ccc;}

.illuminated{font-size:.7em;font-weight:900;font-family:courier,courier new;color:#FF3C00;}

.caveat{color:#99ff99;text-align:center;}

p,blockquote,ol,ul{
	margin:15px 50px 15px 50px;
	font-weight:normal;
}

blockquote {
	border-left: 3px solid #99ff99;
	padding: 0em 10px;
}

.abbeynormal {
 	text-align: center;
}

ul{
	list-style-type:square;
}

h3{
	color:#99ff99;
}

.embiggen{
	margin:20px 0px 0px 0px;
	text-align:center;
	border-top: dashed 1px #99ff99;
	border-bottom: dashed 1px #99ff99;
	padding-top:25px;
	padding-bottom:25px;
}

.titolo{
	margin:55px 0px 25px 0px;
	font-size:1.4rem;
	color:#99ff99;
	font-weight:400;
	text-align:center;
}

.titulo{
	margin:55px 0px 35px 0px;
	font-size:1.4rem;
	color:#00ccff;
	font-weight:400;
	text-align:center;
}

.titulo a{
	text-decoration:none;
	color:#00ccff;
}

.titulo a:hover{
	background-color:#00ccff;
	color:#ffffff;
	text-decoration:none;
}

.ope {
	font-size:1.5rem;
	color:#00ccff;
	font-weight:400;
}

.ope a{
	text-decoration:none;
	color:#00ccff;
}

.ope a:hover{
	background-color:#00ccff;
	color:#ffffff;
	text-decoration:none;
}

a{
	color:#00ccff;
	text-decoration:none;
}

a:hover{
	color:#cc3333;
	text-decoration:none;
}

img{
	height: auto;
	max-width: 100%;
}

video{
	height: auto;
	max-width: 100%;
}

.rowblue {
	background-color: #00ccff;
	height:4px;
}
.rowgreen {
	background-color: #99ff99;
	height:4px;
}
.roworange {
	background-color: #ffcc66;
	height:4px;
}
.rowred {
	background-color: #ff9966;
	height:4px;
}
.rowbaki{
	background-color: #cc3333;
	height:4px;
/*
	text-align:center;
	margin:0px;padding:5px;
*/
}
.rowlight {
	background-color: #ffff99;
	height:4px;
}


.dinotarow {
	display: flex;
	flex-direction: row;
	font-size:.8em;
	line-height:1rem;
	margin:0px 0px 0px 0px;
}

.dinotacol {
  background-color: #eeffee;
  padding: 5px;
  width: 100%;

}

.dinotadash {
	border-bottom: dashed 1px #ffcc66;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px 0px 0px 0px;
}

.indexrow {
	display: flex;
	flex-direction: row;

	margin:0px 0px 0px 0px;
}

.indexcol {
  padding: 5px;
  width: 100%;
  text-align:center;

}

.indexdash {
	border-bottom: dashed 1px #ffcc66;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px 0px 0px 0px;
  text-align:center;
}




/* for the piccolo screens */
@media (max-width: 500px) {

	body {
		
	}
	p {
		text-align: justify;
	}
	p,blockquote,ol,ul{
		margin:5px 5px 5px 5px;
		font-weight:normal;
		margin: 1.0rem;
	}
	.embiggen{
		margin:5px 5px 5px 5px;
		text-align:center;
	}
	.dinotarow {
		flex-direction: column;

	}
	.dinotacol {
		padding: 0px;
	}
	.indexrow {
		flex-direction: column;

	}
	.indexcol {
		padding: 0px;
	}
	.abbeynormal {
 		text-align: center;
	}
	.caveat {
 		text-align: center;
	}
}





