body{
	background-color:#fff;
	font:normal 1.1rem verdana,sans-serif;
	color:#555;
	line-height:1.5rem;
	margin:0px;
	padding:0px;

}

#thegreatentailer{
	padding-bottom:30px;
	margin:0 auto;
	max-width:900px;
}

sup{font-size:.7em;font-weight:900;font-family:courier,courier new;color:#0df027;}

.caveat{color:#99ff99;text-align:center;}

p,ol,ul{
	margin:15px 50px 15px 50px;
	font-weight:normal;
}

ul{
	list-style-type:square;
}

h3{
	color:#99ff99;
}

.embiggen{
	margin:20px 0px 0px 0px;
	text-align:center;
	border-top: dashed 1px #99ff99;
	border-bottom: dashed 1px #99ff99;
	padding-top:25px;
	padding-bottom:25px;
}

.titulo{
	margin:55px 0px 35px 0px;
	font-size:1.4rem;
	color:#00ccff;
	font-weight:400;
	text-align:center;
}

.titulo a{
	text-decoration:none;
	color:#00ccff;
}

.titulo a:hover{
	background-color:#00ccff;
	color:#ffffff;
	text-decoration:none;
}

a{
	color:#00ccff;
	text-decoration:none;
}

a:hover{
	color:#cc3333;
	text-decoration:none;
}

img{
	height: auto;
	max-width: 100%;
}

video{
	height: auto;
	max-width: 100%;
}

.rowblue {
	background-color: #00ccff;
	height:4px;
}
.rowgreen {
	background-color: #99ff99;
	height:4px;
}
.roworange {
	background-color: #ffcc66;
	height:4px;
}
.rowred {
	background-color: #ff9966;
}
.rowbaki{
	background-color: #cc3333;
	text-align:center;
	margin:0px;padding:25px;
}
.rowlight {
	background-color: #ffffcc;
	height:4px;
}


.dinotarow {
	display: flex;
	flex-direction: row;
	font-size:.8em;
	line-height:1rem;
	margin:0px 0px 0px 0px;
}

.dinotacol {
  background-color: #eeffee;
  padding: 10px;
  width: 100%;
}

.dinotadash {
	border-bottom: dashed 1px #ffcc66;
	padding-top:10px;
	padding-bottom:10px;
	margin:0px 0px 0px 0px;
}




/* for the piccolo screens */
@media (max-width: 500px) {

	body {
		
	}
	p {
		text-align: justify;
	}
	p,ol,ul{
		margin:5px 5px 5px 5px;
		font-weight:normal;
		margin: 1.0rem;
	}
	.embiggen{
		margin:5px 5px 5px 5px;
		text-align:center;
	}
	.dinotarow {
		flex-direction: column;
	}
}



