body {
	max-width: 750px;
	font-size: 1.2em;
	margin:40px auto;
	padding: 5px;
}


h1, h2, h3, h4, h5 {
	text-align: center;
}

/*
blockquote {
	color: #043842;
}
*/
a.titolo, a.titolo:visited, a.titolo:hover, a:active, a:focus {
	text-decoration: none;
//	background-color: #fff;
}

a.fine, a.fine:visited, a.fine:hover, a.fine:active, a.fine:focus {
	text-decoration: none;
}

/*
img.titolo {
	width: 50px;
	height: 50px;
}
*/

p.titolo {
	text-align: center;
	margin-bottom: 45px;		
}


.illuminated{font-size:.7em;font-weight:900;font-family:courier,courier new;color:#FF3C00;}

.TheGreatDivider {
	display:flex;
	}

.TheDivided {
	flex-grow:1;
	padding:5px;
	}
.Fiction {

	}
.NonFiction {

	}
.darkmode {
	background-color: #000;
	color:#fff;
}
