
:root {
 	--bs-yellow: #ffc107;
  	--bs-indigo: #6610f2;
 	--bs-left: #e9f3db;
 	--bs-middle: #fde5d8;
 	--bs-right: #d4eef9;
 	--bs-yellow-rgb: 255, 193, 7;
  	--bs-indigo-rgb: 102, 16, 242;
 	--bs-left-rgb: 233, 243, 219;
 	--bs-middle-rgb: 253, 229, 216;
 	--bs-right-rgb: 212, 238, 249;
}

/* colors for background li in archives and books */
.lightgreen { background: #e9f3db; }
.lightpurple { background: #d6dfe7; }
.lightred { background: #f7dddc; }
.lightorange { background: #fde5d8; }
.lightblue { background: #d4eef9; }

/* link colors for background li in books */


a.darkpurple:link {
  color: #3a243b;
}
a.darkpurple:visited {
  color: #3a243b;
}
a.darkpurple:hover {
  color: #ffc107;
}
a.darkpurple:active {
  color: #3a243b;
}

.bg-yellow {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-yellow-rgb), var(--bs-bg-opacity)) !important;
}

.bg-indigo {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-indigo-rgb), var(--bs-bg-opacity)) !important;
}


.bg-left {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-left-rgb), var(--bs-bg-opacity)) !important;
}

.bg-middle {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-middle-rgb), var(--bs-bg-opacity)) !important;
}

.bg-right {
	--bs-bg-opacity: 1;
	background-color: rgba(var(--bs-right-rgb), var(--bs-bg-opacity)) !important;
}

.badgedeltarem {
	font-size: .7rem;
}

.footercenter {
text-align: center;
}

blockquote.yellow {

	// margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 7px;
	padding-left: 14px;
	border-left: 3px solid #ffc107;
} 

.tagnamedatetext {
	font-size: .8rem;
}

.minibreak {
	margin-left: 20px;
	margin-right: 20px;
}

.iconattributes {
	color: purple;
	font-size: 18px;
}

//.bg-badge {
//	--bs-bg-opacity: 1;
//	background-color: rgba(var(--bs-yellow-rgb), var(--bs-bg-opacity)) !important;
//}

a.boxcolor:link {
  color: #000;
}
a.boxcolor:visited {
  color: #000;
}
a.boxcolor:hover {
  color: #ffc107;
}
a.boxcolor:active {
  color: #000;
}


a.tagtext:link {
  color: #fff;
}
a.tagtext:visited {
  color: #fff;
}
a.tagtext:hover {
  color: #fff;
}
a.tagtext:active {
  color: #fff;
}



.btn-indigo {
  color: #fff;
  background-color:  #6610f2;
  border-color: #6610f2;
}

.btn-indigo:hover {
  color: #fff;
  background-color: #6610f2;
  border-color: #6610f2;
}

.btn-check:focus + .btn-indigo, .btn-indigo:focus {
  box-shadow: 0 0 0 0.25rem rgba(50, 93, 136, 0.5);
}

.btn-check:checked + .btn-indigo,
.btn-check:active + .btn-indigo, .btn-indigo:active, .btn-indigo.active, .btn-indigo.dropdown-toggle.show {
  color: #fff;
  background-color: #6610f2;
  border-color: #6610f2;
}

.btn-check:checked + .btn-indigo:focus,
.btn-check:active + .btn-indigo:focus, .btn-indigo:active:focus, .btn-indigo.active:focus, .btn-indigo.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(50, 93, 136, 0.5);
}

.btn-indigo:disabled, .btn-indigo.disabled {
  color: #fff;
  background-color:  #6610f2;
  border-color: #6610f2;
}