		video {
			width: 100%;
			height: auto;
		}
		body {
			background-color: #fff;
			color: #000;
		}
		.container {
			max-width: 750px;
		}
		.name {
			color: #000;
		}
		.date {
			font-size:1.3em;
			font-weight:700;
		}
		.tag {
			font-size:.8em;
			/* font-weight:300; */
			font-style:italic;
			color:#000;
			color:#db8ae0;
		}
		.pound {
			font-size:.9em;
			/* font-weight:300; */
			font-style:italic;
			color:#000;
			color:#c45cca;
		}
		a, a:visited {
			text-decoration: none;
			color: #000;
   			text-shadow:0px 0px 30px #0dcaf0;
  			-moz-transition: all 0.2s ease-in;
  			-o-transition: all 0.2s ease-in;
  			-webkit-transition: all 0.2s ease-in;
  			transition: all 0.2s ease-in;
		}
		a:active, a:hover, a:focus {
			color: #000;
			text-shadow:0px 0px 30px #ff00ff;
			-moz-transition: all 0.2s ease-in;
			-o-transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
		}
		a.poundtag, a.poundtag:visited {
			text-decoration: none;
			color: #000;
   			text-shadow:0px 0px 30px #0df011;
  			-moz-transition: all 0.2s ease-in;
  			-o-transition: all 0.2s ease-in;
  			-webkit-transition: all 0.2s ease-in;
  			transition: all 0.2s ease-in;
		}
		a.poundtag:active, a.poundtag:hover, a.tag:focus {
			color: #000;
			text-shadow:0px 0px 30px #ff00ff;
			-moz-transition: all 0.2s ease-in;
			-o-transition: all 0.2s ease-in;
			-webkit-transition: all 0.2s ease-in;
			transition: all 0.2s ease-in;
		}
		a.logo, a:visited.logo {
			text-decoration: none;
			background-color:#fff;
		}
		blockquote {
			background:#f9f9f9;
			background:#fde8fe;
			border-left:10px solid #ccc;
			border-left:10px solid #fddaff;
			margin:1.5em 10px;
			padding:.5em 10px;
		}
		blockquote:before {
			color:#ccc;
			color:#fddaff;
			content:open-quote close-quote;
			font-size:4em;
			line-height:.1em;
			margin-right:.25em;
			vertical-align:-.4em;
		}
		/*
		blockquote p {
		display:inline;
		}
		*/
		.caveat {
			text-align: center;
			color: #bbb;
			font-size: .7em;
		}
		.divide, .name {
			color: #c3d4b5;
		}