body {
	margin: 0px;
	padding:0px;
	background: url(images/bg.gif) repeat;
}

body, div {
	font-family:verdana, geneva, arial, helvetica, sans-serif;
	font-size:11px;
	color:#333;
}

h5 {
	font-family:verdana, geneva, arial, helvetica, sans-serif;
	font-size:12px;
	color:#333;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}

p.mid {
	text-align: center;
}

#intro {
	width: 546px;
	margin: 10px 0px 15px 0px;
	padding: 5px;
	border: 1px solid #666;
	background: #eee;
	text-align: left;
}

#gauges {
	width: 558px;
}

#words {
	width: 558px;
	text-align: left;
}

a:link {
	color:#999;
	text-decoration: underline;
}

a:active {
	color:#999;
	text-decoration: none;
}

a:visited {
	color:#999;
	text-decoration: underline;
}

a:hover {
	color:#999;
	text-decoration: none;
}