body {
	margin: 0px;
	padding: 0px;
	font: 12px geneva, lucida sans, tahoma, verdana, sans-serif;
	color: #006;
	background: #003 url('images/election_bg.gif') repeat;

}

#banner {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 268px;
	height: 210px;
	background: url('images/election_banner.gif') no-repeat;
	z-index: 10;
}

#mainbg {
	position: absolute;
	top: 145px;
	left: 145px;
	width: 835px;
	height: 406px;
	background: url('images/election_mainbg.gif') no-repeat;
	z-index: 20;
}

#flag {
	position: absolute;
	top: 177px;
	left: 177px;
	width: 508px;
	height: 296px;
	background: url('images/election_flag.jpg') no-repeat;
	z-index: 30;
}

#sayit {
	position: absolute;
	top: 478px;
	left: 177px;
	width: 508px;
	height: 42px;
	background: url('images/election_sayit.jpg') no-repeat;
	z-index: 30;
}

#navbg {
	position: absolute;
	top: 390px;
	left: 690px;
	width: 258px;
	height: 130px;
	background: url('images/election_navbg.jpg') no-repeat;
	z-index: 30;
}

#contentbg {
	position: absolute;
	top: 177px;
	left: 690px;
	width: 258px;
	height: 208px;
	background: url('images/election_contentbg.jpg') no-repeat;
	z-index: 30;
}

#volunteer {
	position: absolute;
	top: 234px;
	left: 5px;
	width: 139px;
	height: 167px;
	background: url('images/election_volunteer.jpg') no-repeat;
	z-index: 30;
}

#friendster {
	position: absolute;
	top: 402px;
	left: 5px;
	width: 139px;
	height: 149px;
	background: url('images/election_friendster.jpg') no-repeat;
	z-index: 30;
}

#linkhome {
	position: absolute;
	top: 400px;
	left: 701px;
	width: 47px;
	height: 19px;
	z-index: 40;
}

#linkabout {
	position: absolute;
	top: 427px;
	left: 709px;
	width: 60px;
	height: 21px;
	z-index: 40;
}

#linkissues {
	position: absolute;
	top: 462px;
	left: 696px;
	width: 128px;
	height: 17px;
	z-index: 40;
}

#linkcontact {
	position: absolute;
	top: 498px;
	left: 702px;
	width: 79px;
	height: 16px;
	z-index: 40;
}

#linkendorsements {
	position: absolute;
	top: 402px;
	left: 792px;
	width: 140px;
	height: 42px;
	z-index: 40;
}

#linktools {
	position: absolute;
	top: 463px;
	left: 849px;
	width: 95px;
	height: 37px;
	z-index: 40;
}

#stuffframe {
	position: absolute;
	top: 181px;
	left: 699px;
	width: 245px;
	height: 200px;
	border: 0px;
	z-index: 50;
}


a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

img {
	border: 0px;
}